li {
    background-color: #eee;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

li .tarefa-conteudo {
    display: flex;
    align-items: center;
    flex-grow: 1;
    gap: 8px;
}

.texto-tarefa {
    font-size: 16px;
    color: #000;
}
